fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
psycopg2-binary
python-dotenv

numpy
pandas
scikit-learn

sentence-transformers
transformers
openai-whisper

pymupdf
deepface
tf-keras
tensorflow-cpu

opencv-python-headless
